*{
    margin:0;
    padding:0;
    
}

.header {
    min-height: 100vh;
    width:100%;  
    background-position: center;
    background-size: cover;
    position: relative; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Images/background.jpg");
    /* background-color: cadetblue; */
    background-repeat: no-repeat;

}






